// Specific CSS for your home-page

.home-container {
  position: relative;
  width: 100%;
}

.logo-container {
  margin: 0 auto 6rem auto;
  overflow: hidden;
  position: relative;
}

.panel {
  padding: 6rem 2rem 0 2rem;
  position: relative;
  text-align: center;
  z-index: 2;
}


.panel__main {
  font-size: 28px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
}

.btn {
width: 237px;
height: 56px;
left: 89px;
top: 792px;
background: linear-gradient(276.66deg, #079145 44.5%, rgba(102, 198, 75, 0.48) 95.66%);
border-radius: 33px;
color: white;
font-family: 'Mulish';
font-size: 24px;
font-style: normal;
margin-top: 120px;
font-weight: bold;
}
