.product-content {
  // background-color: #F0FDF4;
  padding: 24px;
}

.product-image {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.product-name {
  font-size: 26px;
  font-weight: bold;
}

.product-unit {
  font-size: 16px;
  font-weight: bold;
}

.product-quantity {
  color: grey;
  font-size: 16px;
}

.product-information {
  display: flex;
  justify-content: space-between;
}

.bottom-page {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: space-between;
  // background-color: white;
  padding: 38px;
  // border-top: 2px solid #e4efe5;

}

.product-btn {
  background-color: #FF7F00;
  color: white;
  padding: 12px 16px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.product-btn:hover {
  background-color: #ffa41c;
  text-decoration: none;
  color: white;
}

.product-btn-modal {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  color: rgb(140, 140, 140);
  padding: 12px 16px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
}

.product-btn-modal:hover {
  color: #464646;
  border-color: #464646;
  text-decoration: none;
}

.product-btn.product-cart-btn {
  color: #F0FDF4;
}





.product-text {
  font-size: 16px;
  font-weight: bold;
}

.product-description {
  font-size: 18px;
  line-height: 1.5;
  // color: #444444;
  font-weight: lighter;
  margin-top: 12px;
}

.full-price {
  font-size: 14px;
  color: grey;
}

.discounted-price {
  font-size: 28px;
  font-weight: bold;
  color: #15803D;
}

#product-counter {
  align-items: center;
}

.minus-button {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  margin-right: 12px;
  border: none;
  border-radius: 50%;
  background-color: #c3e5cc;
  width: 40px;
  height: 40px;
}

.plus-button {
  width: 40px;
  height: 40px;
  margin-left: 12px;
  border: none;
  border-radius: 50%;
  background-color: #15803D;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
}

#minus-icon {
  background-color: #c3e5cc;
  color: #079145;
}

#plus-icon {
  color: white;
}

.input-group-field {
  width: 20px;
  border: none;
  height: 24px;
}

.discounted-price {
  margin-right: 12px;
}

.prices {
  align-items: center;
}
