<div class="navbar-bottom">
  <i class="fas fa-search"></i>
  <a href="#explore" class="active"><span>Explore</a></span>
  <i class="fas fa-shopping-cart"></i>
  <a href="#cart"><span>Cart</a></span>
  <i class="fas fa-ellipsis-h"></i>
  <a href="#more"><span>more</a></span>
</div>
