<div class="navbar">
  <i class="fas fa-search" style="color:#15803D"></i>

  <a href="/cart">
    <i class="ti ti-shopping-cart" style="position: relative; font-size: 26px;">
      <% if @cart_count && @cart_count != 0 %>
        <div class="cart-count"><%= @cart_count %></div>
      <% end %>
    </i>
  </a>
  <i class="fas fa-ellipsis-h"></i>
</div>
<!-- <i class="ti ti-basket"></i> -->
