<div class="navbar-bottom">
  <i class="fas fa-search"></i>
  <i class="fas fa-shopping-cart"></i>
  <i class="fas fa-ellipsis-h"></i>
  <a href="#explore" class="active">Explore</a>
  <a href="#cart">Cart</a>
  <a href="#contact">more</a>
</div>
