<div class="info">
  <div class="info__content">
    <h2><%= @supermarket.name %></h2>
    <div class="d-flex justify-content-between">
      <p><%= [ 1.5, 2.5, 3.4, 0.7 ].sample%> km away</p>
      <p style="padding-left: 18px">Open today until 8pm</p>
    </div>
  </div>
</div>
