<div class="toggle-container">
  <div class="toggle-bar" id="item-selection">
    <button class="toggle-btn toggle-item left" data-name="supermarket">Supermarkets</button>
    <button class="toggle-btn toggle-item right" data-name="product">Products</button>
  </div>
  <div class="toggle-bar" id="display-selection">
    <button class="toggle-btn toggle-display left" data-name="list">List</button>
    <button class="toggle-btn toggle-display right" data-name="map">Map</button>
  </div>
</div>

<div id="content-container">
  <div data-name="supermarkets">supermarkets</div>
  <div data-name="items">items</div>
  <div data-name="map">map</div>
</div>
