<div class="toggle-container">
  <div class="toggle-bar" id="item-selection">
    <a href= "#" class="toggle-btn toggle-item left" data-name="supermarket">Supermarkets</a>
    <a href= "#" class="toggle-btn toggle-item right" data-name="product">Products</a>
  </div>
  <div class="toggle-bar" id="display-selection">
    <a href= "#" class="toggle-btn toggle-display left" data-name="list">List</a>
    <a href= "#" class="toggle-btn toggle-display right" data-name="map">Map</a>
  </div>
</div>

<!--
<div class="filter-bar">
  <a class="filter-btn" href="#">
     <i class="fas fa-filter"></i>
  </a>
</div>
 -->
