<!--  <span class="check1"><i class="fa fa-check"></i></span> -->
<body style="background: #ffffff;">
  <div id="inner">
   <div class="order-confirmation">
      <%= image_tag "confirmation_2.jpg", class: "order-confirmation__image"%>
    <p class="font-weight-bold" style="font-size: 24px">Thank you!</p>
    <p style="font-size: 20px">Your order is complete.</p>
    <button class="btn-gradient" style="background: #FF7F00;">Continue shopping</button>
   </div>
  </div>
</body>
