<!--  <span class="check1"><i class="fa fa-check"></i></span> -->
<body style="background: #ffffff;">

  <div id="inner" style="margin: 32px 30px 0;">
    <canvas id="my-canvas"></canvas>
      <div class="order-confirmation">
        <%= image_tag "confirmation_2.jpg", class: "order-confirmation__image"%>
        <p class="font-weight-bold" style="font-size: 24px">Congratulations!</p>
        <p style="font-size: 20px; padding-bottom: 30px; text-align: center;"> This order made you a <br><strong>Charming Cheese Chaser</strong>!</p>
        <p style="font-size: 18px; text-align: center;">Only 50 points to become <br>a <strong>Fanatic Food Fighter</strong>!</p>
        <button class="btn-gradient" style="background: #FF7F00; width: 80%;">Continue shopping</button>
     </div>

  </div>
</body>
