<!--  <span class="check1"><i class="fa fa-check"></i></span> -->
<body style="background: #ffffff;">
  <div id="inner">
   <div class="order-confirmation">
      <%= image_tag "confirmation_2.jpg", class: "order-confirmation__image"%>
    <p class="font-weight-bold">Thank you!</p>
    <p>Your order is complete.</p>
    <button class="btn-gradient" style="background: #FF7F00;">Order details</button>
   </div>
  </div>
</body>
