<div style="height: 100%;padding: 150px 50px; display: flex; flex-direction: column; align-items: center;">
  <h2 style="text-align: center;">Slow down...</h2>
  <div style="width: 234px;">
    <h2 style="margin: 30px 0; font-size: 24px;">Seems like you didn't finish filling out the pickup information.</h2>
  </div>
  <h2 style="font-size: 24px;">Please redo it.</h2>

  <div class="order__checkout">
    <div class="d-flex justify-content-center" style="margin-bottom: 20px;">
      <%= link_to "Fill out again", new_order_path, class: "btn-gradient" %>
    </div>
  </div>
</div>
