<div class="home-container">
  <div class="panel">
    <div class="logo-container">
      <header class="panel__header">
        <%= image_tag "refood-logo.png", :size => "250x250" %>
      </header>
    </div>
      <main class="panel__main">
        <p>Save money and fight against food waste</p>
      </main>
        <%= link_to "Get started", supermarkets_path, {:class => "button-homepage"}%>
  </div>
</div>
