<%= render 'shared/location_form' %>
<div class="splash-container">
      <div class="splash-logo">
        <%= image_tag "refood-logo.png", :size => "250x250" %>
      </div>
      <div class="splash-slogan">
        <p>Save money and fight against food waste</p>
      </div>
      <div class="button-homepage">Get started
  </div>
</div>
