<div class="container-sm">
  <div class="logo-container">
      <div class="panel">
        <header class="panel_header">
          <h1 class="panel__title">REfood</h1>
        </header>
          <main class="panel__main">
            <p>Save money and fight against food waste</p>
          </main>
        <footer class="panel__footer">
          <a class="panel__button">Get started</a>
        </footer>
      </div>
    </div>
  </div>



