<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1 class="summary">Select payment method</h1>

      <div class="payment-buttons">
        <button id="pay" class="btn btn-primary">Credit Card</button>
        <button class="btn btn-primary">Paypal</button>
      </div>

      <h1 class="summary">Order recap</h1>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @checkout_session_id  %>'
            });
          console.log(stripe)
        });
      </script>
    </div>
  </div>
</div>
