<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Checkout summary</h1>
      <button id="pay" class="btn btn-primary">Pay</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('pk_test_51JQqGpAmhtIuoFRV5Pd5LsdB7O2GJia2BezHmPOX2a2X9at86OTlK8mmwESrviGwx6O3q4G3SObk0J2gSyyhgSPg004d8Dd86g');
            stripe.redirectToCheckout({
              sessionId: '<%= @checkout_session_id  %>'
            });
          console.log(stripe)
        });
      </script>
    </div>
  </div>
</div>

