.filters-top-page {
  display: none;
}

.navbar-top-filters {
  z-index: 1000;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  font-size: 22px;
  border-bottom: 1px solid grey;

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
    color: grey;
  }
}

.filter-categories {
  padding: 24px;
  border-bottom: 1px solid grey;

  div {
    padding: 6px;
  }
}

.filter-categories-elements {
  margin-left: 16px;
}

.filter-title {
  font-weight: bold;
  padding: 24px;
}

.buttons {
  margin: 0 auto;
  width: 100%;
}

.filter-entry.active {
  color: #1EDD88;
}