.category-filter {
  display: flex;
  padding: 20px 0;
  margin-left: 12px;

  span {
    padding-right: 16px;
    color: #A9A8AB;
    font-size: 14px;
    font-weight: 400;

    a {
     color: #A9A8AB;
    }

    a.active {
      color: #3DD26D;
    }
    a:hover {
      text-decoration: none;
    }
  }
}
