.category-filter {
  display: flex;
  padding: 20px 0;
  margin-left: 12px;

  span {
    padding-right: 16px;
    color: #A9A8AB;
    font-size: 14px;
    font-weight: 400;

    a {
      color: #A9A8AB;
    }

    a.active {
      // background-color: rgba(27, 166, 79, 0.2);
      border: 1px solid rgba(27, 166, 79, 0.2);
      color: #15803D;
      padding: 4px 6px;
      border-radius: 12px;
    }

    a:hover {
      text-decoration: none;
    }
  }
}
