// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "toggle_button";
@import "index_info";

body {
  font-family: 'Mulish', sans-serif;
  background-color: #FBFDFF;
  width: 414px;
  height: 896px;
}
