// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "toggle_button";
@import "index_info";
@import "supermarket_card";

body {
  font-family: 'Mulish', sans-serif;
  background-color: #FBFDFF;
  // width: 414px;
  // height: 896px;
}

#inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-left: 8vw;
  margin-right: 8vw;
  // background: #ccc;

}
