body {
  background:#E6F6E7;
}

.location-form {
  display: none;
  position: absolute;
  height: 100vh;
  background:#E6F6E7;
  z-index: 10;
}


.location-form h2 {
font-family: Mulish;
font-size: 20px;
line-height: 30px;
text-align: center;
font-weight: bold;
margin-top: 100px;
}

.logo-left-corner {
text-align: right
}


.search-container {
  position: relative;
}

.search-container .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background-color:white;
  border: none;
  border-radius: 32px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

  input {
    padding-left: 8px;
    width: 100%;
    opacity: 0.7;
    border: none;
    background-color: transparent;
    outline: none;

  }

.btn {
width: 237px;
height: 56px;
left: 89px;
top: 792px;
background: linear-gradient(276.66deg, #079145 44.5%, rgba(102, 198, 75, 0.48) 95.66%);
border-radius: 33px;
color: white;
font-family: 'Mulish';
font-size: 24px;
font-style: normal;
margin-top: 120px;
font-weight: bold;
}

