.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-canvas {
  width: 450px !important;
  height: 500px !important;
}

.mapboxgl-popup-content {
  border-radius: 10px;
}

.mapboxgl-popup-content img {
  height: 50px;
}
