.navbar-bottom {
  background-color: white;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
}

.fas {
  display: inline-block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-bottom a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-bottom a.active {
  color: #04AA6D;
}
