.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 16px 38px;

  font-size: 20px;
  color: #646366;
  z-index: 1000;

  a {
    color: #565656;
  }
}

.navbar-top {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  font-size: 22px;

  a {
    color: #565656;
  }
}

.fa-chevron-left {
  font-size: 24px;
}

.navbar-show {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  font-size: 22px;
  margin-bottom: 12px;

  a {
    color: #565656;
  }
}
