.order-container {
  width: 100%;
}

.order__header {
  font-weight: 600;
  font-size: 34px;
  margin-left: 12px;

}

.order__content {
  margin-top: 16px;
  overflow-y: scroll;
  padding-bottom: 220px;
  margin-left: 12px;
}

.order__content__item {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  box-shadow: 0 0 12px rgba(0,0,0, 0.07);
  border-radius: 12px;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
}

.order__content__item__info {
  flex-grow: 1;

  p {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: lighter;
  }

}

.order__content__item__info__header {

  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 17px;
    font-weight: bold;
  }

  span {
    font-size: 14px;
    font-weight: lighter;
  }
}

.order__content__item__counter {
  display: flex;
  flex-direction: column;
  margin: 0 18px;
}

.order__checkout {
  position: fixed;
  bottom: 0;
  left: 30px;
  right: 30px;
  background-color: #f7fff8;
  padding-bottom: 16px;

  hr {
    margin-top: 0;
    border: 1px solid #CCEDCE;
  }

  h3, h5 {
    font-family: Mulish;
    font-weight: lighter;
  }

  a {
    color: white;
    text-decoration: none;
  }
}


.order-dates-container {
  margin: 32px 30px 0 30px;
}


.location-info p{
  margin: 0;
}

.order-collection-point {
  width: 100%;
  div {
    img {
      object-fit: center;
      height: 30px;
    }
  }
}

.order-progress-bar {
  align-items: center;
  img {
    height: 40px;
  }
}

.divider {
  flex-grow: 1;
  border-bottom: 1px solid rgba(100, 99, 102, 0.22);
  margin: 5px 10px;
  // background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  // background-position: bottom;
  // background-size: 3px 1px;
  // background-repeat: repeat-x;
}

.pickup-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-selection {
  display: flex;
  justify-content: center;

  .form-group {
    width: 70%;
    background-color: #E6F6E7;
    border: none;
    border-radius: 33px;

    .form-control {
      padding-left: 8px;
      width: 100%;
      opacity: 0.7;
      border: none;
      background-color: transparent;
      outline: none;
      color: black;
    }

    textarea:focus, input:focus {
        color: black;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: black;
    }
  }
}
// rgba(7, 145, 69, 0.3);
