// styling of toggle-container (containing two toggle-bars)
.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

// styling of toggle-bar (containing two toggle-buttons)
.toggle-bar {
  // width: 330px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

// styling of toggle-button
.toggle-btn {
  width: 42vw;
  height: 35px;
  line-height: 35px;
  text-align: center;

  transition: background 0.1s;
  background-color: #E6F6E7;
  font-size: 16px;
  color: #808080;
  font-weight: lighter;
  border: none;
}

.toggle-btn:hover {
  text-decoration: none;
  color: #808080;
}

// styling of border of toggle-button depending if left or right
.left {
  border-radius: 33px 0 0 33px;
}

.right {
  border-radius:  0 33px 33px 0;
}

// styling of toggle-button when active
.toggle-btn.active {
  color: #FFFFFF;
  font-weight: 400;
}

.toggle-btn.active:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.toggle-btn.active.left {
  background: linear-gradient(83.26deg, #079145 44.99%, rgba(102, 198, 75, 0.48) 100%);
}

.toggle-btn.active.right {
  background: linear-gradient(276.66deg, #079145 44.5%, rgba(102, 198, 75, 0.48) 95.66%);
}

// filter-btn {
//   width: 28.28px;
//   height: 24.68px;
// }
